.activity-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 100px;
}


.search-bar {
  background-color: #181828;
  border-radius: 20px;
}

.select {
  margin: 25px 25px !important;
  width: 15%;
}



