.activity-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.selectors {
    width: 50%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
}

.search-bar {
    background-color: #181828;
    border-radius: 20px;
}

.select {
    width: 25%;
}

.image {
    width: 100%;
}