@use "../../styles/colors.scss";

.badge {
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  width: 75px;
  background-color: colors.$success_main;
  color: colors.$background_default;
  position: relative;
  left: 600px;
  top: 150px;
  font-size: 15px;
  font-weight: bold;
}


