.container {
    float: left;
}

.liveAuction {
    position: relative;
    bottom: 72px,;
    left: 35px;
}

.select {
    position: relative;
    left: 1200px;
    bottom: 150px;
    width: 200px;
}


