.form-control,
.price-range {
    width: 15%;
    margin: 10px !important;
}

.search-bar {
    width: 30%;
    background-color: yellow;
}

.profile-collection-filters {
    background-color: red ;
}