.profile-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
    bottom: 50px;
}

.avatar {
    width: 100px;
    height: 100px;
}