.form-control,
.price-range {
    width: 15%;
    margin: 10px !important;
}

.search-bar {
    width: 30%;
    margin: 10px !important;
    background-color: #181828;
    border-radius: 20px;
}

.profile-collection-filters {
    display: flex;
    justify-content: flex-end;
}