@use "../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.light {
  background-color: rgba(colors.$background_paper, 10%);
}

.dark {
  background-color: colors.$background_paper;
}

.id {
  padding: 0;
}
