.wrapper {
    display: flex !important;
    justify-content: space-around;
    
}

.trending {
    font-weight: bolder;
    font-size: 3rem;
}

.select {
    min-width: 150px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}