@use "../../styles/colors.scss";

.wrapper {
  display: flex !important;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 25px;
}

.trending {
  font-weight: bolder;
  font-size: 3rem;
}

.select {
  width: 20%;
}

.container {
  display: flex;
  justify-content: center;
}

.elements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  overflow: hidden;
}
