@use "../../styles/colors.scss";

.name {
  position: absolute;
  top: 25%;
  left: 7%;
  color: colors.$text_primary;
  font-weight: bolder;
  font-size: 1rem;
}

.info {
    position: absolute;
    top: 30%;
    left: 7%;
    color: colors.$success_main;
    font-weight: bold;
    font-size: 0.9rem;
}
