@use '../../styles/colors.scss';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$primary_main;
    height: 300px;
    
}

.text {
    color: colors.$text_primary !important;
}