@use "../../styles/colors";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 !important;
}

.media {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  height: 300px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: colors.$success_main;
  color: colors.$background_default;
  position: relative;
  right: 105px;
  bottom: 270px;
  font-weight: bold;
  width: 5rem;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: colors.$success_main;
  color: colors.$background_default;
  font-weight: bolder;
  width: 313px;
  position: relative;
  bottom: 51px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 0 !important;
  position: relative;
  bottom: 2rem;
}

.not-live-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-weight: bolder;
  font-size: 1.5rem;
}

.price {
  font-weight: bold;
  font-size: 0.9rem;
  color: colors.$secondary_main;
}

.likes {
  color: colors.$secondary_main !important;
  border: 1px solid !important;
  width: 5rem;
}

.likes:hover {
  background-color: colors.$text_secondary !important;
}

.icon {
  color: colors.$secondary_main !important;
  justify-content: flex-end;
}
