@use "../../styles/colors.scss";

.product-info-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-top: 50px;
  border-bottom: 6px solid;
  border-color: colors.$background_paper;
}
