@use "../../styles/colors.scss";

.product-info-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(colors.$background_paper, 80%);
  border-radius: 20px;
}

.user-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.title {
  background-color: rgba(colors.$primary_main, 20%);
  width: 100%;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
