@use '../../styles/colors.scss';

.product-info-creator {
    display: flex;
    justify-content: center;
}

.user-container {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bolder;
    color: colors.$info_main;
}