@use "../../styles/colors.scss";

.product-info-timer {
    display: flex;
    justify-content: center;
}

.timer {
    font-weight: bolder;
}

.title {
    color: colors.$text_hint;
}

.active {
    background-color: colors.$secondary_main;
}