@use "../../styles/colors.scss";

.product-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-details {
  display: flex;
}

.tab-bids {
  display: flex;
}

.table-row-0,
.table-row-1 {
  display: flex;
  width: 650px;
}

.light {
  background-color: rgba(colors.$primary_main, 20%);
}

.dark {
  background-color: rgba(colors.$background_paper, 80%);
}

.amount {
  color: colors.$info_main;
  font-weight: bolder;
  font-size: 1rem;
}

.date {
  font-style: italic;
}

.name {
  padding-right: 200px !important;
}
