@use "../../styles/colors";

.product-info-likes {
  display: flex;
}

.likes {
  display: flex;
  color: colors.$secondary_main !important;
  border: 1px solid !important;
  width: 100px;
}

.icon {
  color: colors.$secondary_main !important;
}
