@use "../../styles/colors.scss";

.description {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: colors.$background_paper;
  width: 500px;
  position: relative;
  bottom: 100px;
  padding: 50px;
  margin: auto;
}

.text {
  color: colors.$text_secondary;
  margin-bottom: 25px !important;
}

.image {
  height: 250px;
}
