@use "../../styles/colors";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$background_paper;
  padding-left: 50px;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.paper {
  width: 100%;
  color: colors.$text_primary !important;
}

.paperExplore {
  margin-left: 20px !important;
  width: 100%;
  font-size: 10rem;
  color: colors.$text_primary !important;
  background-color: colors.$primary_main !important;
}

.logoWrapper {
  display: flex;
  justify-content: flex-start;
}

.searchingbarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paper:hover {
  background-color: colors.$text_hint !important;
}

.paperExplore:hover {
  background-color: colors.$background_default !important;
}


.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
