@use "../../styles/colors.scss";

.container {
  padding-top: 100px;
}

.buttons {
  color: colors.$text_primary !important;
}

.wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
