@use "../../styles/colors.scss";

.container {
  background-color: colors.$background_paper;
  padding-left: 50px;
}

.buttons {
  color: colors.$text_primary !important;
}

.wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
