@use "../../../styles/colors.scss";

.searchInput {
  display: flex;
  width: 80%;
}

.search {
  background-color: colors.$background_default;
  color: colors.$text_primary;
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  width: 350px;
}
