.select {
    width: 20%;
}

.menu {
    width: 100%;
}

.trending {
    
    font-size: 3rem;
    font-weight: bolder;
}

.wrapper {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}