.select {
    display: grid !important;
    margin-bottom: 50px;
    margin-left: 1200px;
    width: 20%;
}

.menu {
    width: 100%;
}

.trending {
    position: relative;
    top: 50px;
    font-size: 3rem;
    font-weight: bolder;
}